<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> #. </th>
    <td mat-cell *matCellDef="let Alumno">
      {{Alumno.id}}
    </td>
  </ng-container>
  <!-- Nombre Completo  Column -->
  <ng-container matColumnDef="nombrecompleto">
    <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
    <td mat-cell *matCellDef="let Alumno">
      {{Alumno | nombreCompleto}}
    </td>
  </ng-container>
        <!-- Email  Column -->
  <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let Alumno">
         {{Alumno.email}}
      </td>
   </ng-container>
 <!-- Email  Column -->
  <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let Alumno">
             <button (click)="eliminarAlumno.emit(Alumno.id)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
             </button>
             <button (click)="editarAlumno.emit(Alumno)" mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
             </button>

      </td>
       </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


